 .custom-width-ann-sd
 {
    width: 100%;
 }
 .custom-width-ann-end
 {
    width: 100%;
 }
 .announcement-quill .ql-container.ql-snow
{
    height: 162px;
   
}
.department-prnt .first-child .first {
   width: 19.3%;
 }
 .add-reset-btns button {
  padding: 8px 20px;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 .add-reset-btns .main-bg-color:hover{
   background-color: #2562b0 !important;
 }
 