/* Styling for Time card */

.emp-info-section .time-card{
  margin-left: 0;
}
.time-card .top-head, .time-card .mid-part, .time-card .bottom-part {
  width: 90%;
  text-align: center;
}
.timer-icon {
  background-color: #1cab47;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -22px;
}
.time-card{
    position: relative;
    padding: 15px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .3s ease; /* back to normal */
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.top-head p, .bottom-part p{
    font-size: 14px;
}
#time-in {
    background-color: #0080003b;
    padding: 10px 20px;
  }
  #time-out {
    background-color: #80000042;
    padding: 10px 20px;
  }
.time-btn h3 {
    text-align: center;
    padding: 10px 25px;
    background-color: #174e94;
    color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .time-btn h3:hover{
    background-color: #2562b0;
    cursor: pointer;
  }
  /* .time-card::after {
    content: "";
    height: 30px;
    width: 100%;
    background-color: #174e94;
    position: absolute;
    top: 10px;
    right: 0px;
    opacity: 0.3;
    filter: blur(7px);
  } */
  .emp-info.first .top-head h3 {
    color: #fff;
    font-size: 20px;
  }
.emp-info.first
{
  background-image: url(../utility-images/emp-card-img.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
}
.emp-info.emp-info.second
{
  background-image: url(../utility-images/emp-card-2-img.jpg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

  .emp-info{
    background-color: #fff;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    z-index: 9;
  }
  .emp-info p{
    font-size: 14px;
    color: #5e5e5e;
    margin: 4px 0;
    letter-spacing: 0.8px;
  }
  .emp-info .mid-part .emp-img {
    border: 4px solid #174e94;
    width: 40%;
    border-radius: 50%;
    margin-top: 15px;
  }
  .emp-info .emp-img img{
    border: 4px solid #fff;
    border-radius: 50%;
  }
  .emp-info .full-name h2 {
    font-size: 22px;
    font-weight: 500;
  }
  .time-card, .emp-info {
    width: 466px;
    margin: 15px;
  }
  .emp-info strong{
    width: 50%;
  }
  .emp-info .bottom-part {
    width: 90%;
    margin: 20px 0;
  }
  .bottom-info{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .bottom-info h6 {
    width: 30%;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .bottom-info span{
    margin: 0 15px;
  }
  .emp-info.second .mid-part {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .emp-info.second .top-head {
    width: 90%;
  }
  .emp-info.second .top-head h4 {
    text-align: center;
    margin-bottom: 22px;
  }
  .emp-info .top-head li {
    list-style: disc;
    margin: 14px;
  }
  .emp-info-section .time-card, .emp-info-section .emp-info {
    height: 499px;
  }

/* Styling for High-charts */

.high-charts-section .first-chart{
  width: 58%;
}
.high-charts-section .second-chart{
  width: 40%;
}
.high-charts-section .charts > div{
  border-radius: 10px;
}
/* Styling for message cards */
.message-section .message-card{
  width: 32%;
}

/* Styling for to-do and weather card section */

.weather-card
{
  background-image: url(../utility-images/weather-img2.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  position: relative;
}
.weather-card::before{
  content: "";
  position: absolute;
  width: 100%;
  z-index: 0;
  background-color: #000;
  height: 100%;
  opacity: 0.5;
  right: 0;
  border-radius: 10px;

}
.weather-card .top-part-w, .weather-card .mid-part-w, .weather-card .bottom-part-w {
  z-index: 5;
}
.to-do-weather-section .to-do-card-container {
  width: 32%;
}
.weather-card .mid-part-w {
  margin-bottom: 100px;
}
.to-do-weather-section .to-do-card, .to-do-weather-section .weather-card-container .weather-card{
  width: 100%;
}
.to-do-weather-section .weather-card-container{
  width: 66%;
}
.weather-card{
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.mid-part-w h1 {
  font-size: 90px;
  margin-right: 20px;
}
.weather-card .top-part-w h3 {
  font-size: 26px;
}
.mid-part-w h3{
  font-size: 40px;
}
.mid-weather-icon {
  margin-right: 20px;
}
.mid-part-w h1 svg {
  margin-top: 30px;
}
.mid-part-w h3 svg{
  margin-top: 10px;
}
.mid-weather-icon {
  font-size: 40px;
}
  /* Start Styling for employee table */

  .table-container table th, .table-container table tbody tr td {
    border: 1px solid #c7c7c7;
    text-align: center;
  }

  .table-container {
    /* margin: 20px; */
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #3879CB;
    color: white;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  @media (max-width: 600px) {
    th, td {
      font-size: 14px;
    }
  }