:root {
    --white-color: #fff;
}
.color-white{
    color:#fff;
}
.arrow-icons{
    font-size: 13px !important;
}
.main-bg-color{
    background-color: #174E94;
}
.base-bg-color{
    background-color: #174e9412;
}
.headings {
    font-size: 22px;
    font-weight: 500;
  }
  .shadow{
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  }