  :root {
    --white-color: #fff;
    --primary-color-echttech: #113689;
    --lighter-primary-color-echttech: #325ec3;
    --fade-lighter-primary-color-echttech: #11368924;
    
  }
.color-white{
    color:var(--white-color);
}
.arrow-icons{
    font-size: 13px !important;
}
.main-bg-color{
    background-color:var(--primary-color-echttech) !important;
}
.delete{
    background-color: rgb(219, 19, 19);
}
.base-bg-color{
    background-color: #174e9412;
}
.headings {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-color-echttech);

  }
  .shadow{
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  }
  .radius{
    border-radius: 10px;
  }
  .rounded{
    border-radius: 4px;
  }
  .flex-gap {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  table th , table td
  {
    text-wrap: nowrap;
  }
  /* spinner/loader */
.spinner-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 999999;
}
.spinner-border {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--primary-color-echttech);
  border-color: var(--primary-color-echttech) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}