:root {
    --white-color: #fff;
}
.color-white{
    color:#fff;
}
.arrow-icons{
    font-size: 13px !important;
}
.main-bg-color{
    background-color: #174E94;
}
.base-bg-color{
    background-color: #f4f7fd;
}