.layout.main-container {
    overflow-x: hidden;
  }


.main-content.right-dashboard {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 135px);
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
/* .main-container
{
    background: #e5e7eb;
} */
