.layout.main-container {
    overflow-x: hidden;
    position: relative;
  }


.main-content.right-dashboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  transition: width 0.5s;
  }

  .content {
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 118px);
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 49;
    background-color: #fff;
  }
  .layout.main-container {
    overflow: hidden;
    position: relative;
  }
/* .main-container
{
    background: #e5e7eb;
} */




/* Second Sidebar Customized scrollbar */
/* .constant-sidebar ul::-webkit-scrollbar {
  width: 3px; 
}

.constant-sidebar ul::-webkit-scrollbar-track {
  background: #113689; 
  margin-right: 10px;
}
.constant-sidebar ul::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; 
  border-radius: 6px; 
}

.constant-sidebar ul::-webkit-scrollbar-thumb:hover {
   background: #113689; 
} */

.constant-sidebar ul li a
{
  font-size: 14px;
}
