.layout.main-container {
    overflow-x: hidden;
    position: relative;
  }


.main-content.right-dashboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  transition: width 0.5s;
  }

  .content {
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 118px);
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 50;
    background-color: #fff;
  }
  .layout.main-container {
    overflow: hidden;
    position: relative;
  }
.main-container
{
    background: #e5e7eb;
}


.constant-sidebar ul li a, .layout.settingshow .setting-sidebar li a {
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  padding: 10px 15px 10px 20px;
}
.consthide .content-mid .div-lr-pad-0
{
  padding: 10px 0px !important;
}


/* --------------------- */
.layout.consthide .content
{
  background-color: #f3f3f3;
}

.layout.consthide .content-mid
{
  position: relative;
}

.layout.hide.consthide .content-mid .right-const-structure, .layout.hide.settingshow .content-mid .right-const-structure {
  position: absolute;
  right: 0;
  left: 218px;
  transition: left 0.5s linear;
}
.layout.show.consthide .content-mid .right-const-structure, .layout.show.settingshow .content-mid .right-const-structure {
  position: absolute;
  right: 0;
  left: 0px;
  /* transition: left 0.5s linear; */
}

.layout.constshow .content
{
  background-color: #f3f3f3;
}

.layout.constshow .content-mid
{
  position: relative;
}

.layout.constshow .content-mid .right-const-structure
{
  position: absolute;
  left: 0;
  right: 0;
  transition: left 0.5s linear;
}

/* Styling for forms and fields */

.department-below-sect label, .form-labels label {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

.top-section {
  padding: 0 !important;
}
input, select {
  font-size: 14px !important;
}
.top-head .form-labels, .top-head .second-child, .form-step, .form-labels {
  padding: 20px;
}
hr.mb-6 {
  background-color: var(--primary-color-echttech);
  height: 3px;
  margin: 0;
  /* display: none; */
}
.top-head .pb-3, .top-hdr {
  padding: 5px 20px;
  color: var(--primary-color-echttech);
  background-color: var(--fade-lighter-primary-color-echttech);
  border-radius: 6px 6px 0 0;
}





