.mlc-right
{

    background: #174e94;
}
.mlc-left
{

    background: #f8f6f0 !important;
}
.absolute-red-dot
{
    position: absolute;
    right: 45%;
    bottom: 9%;
}
.drawer-btn
{
    position: absolute;
    right: -12px;
    top: 0px;
    z-index: 12;
    background-color: #174e94;
    color: #fff !important;
}


.bg-login-img {
  
    background-size: cover;
    background-position: center; 
    background-image: url('https://cdn.dribbble.com/users/48830/screenshots/1216892/media/21e8f2d2af06c996e9bb547d78b0f3be.gif');
     /* background-image: url('https://i.makeagif.com/media/12-04-2015/r8lmxe.gif');  */

}

.absolute-eye-pwd {
    position: absolute;
    right: 3%;
    color: grey;
    bottom: 29%;
    z-index: 99;
}

.mc {
    position: relative;
    min-height: 100vh;
  }
  
  .mc-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .cstm-btn-pos
  {
    margin-right: -10px;
    position: absolute;
  }
  .login-btn
  {
    text-align: center;
    padding: 10px 25px;
    background-color: #174e94;
    color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .login-btn:hover
  {
    background-color: #2562b0; 
  }

  .login-style h2 , .login-style svg
  {
    font-size: 14px;
    
    
  }
  .login-style h4
  {
    font-size: 18px;

  }
  .login-logo-img
  {
    width: 46%;
    height: 38px;
    object-fit: contain;
  }
  #captcha
  {
    border-radius: 3px;
  }
  .parnt-login-h-438 , .child-login-h-438 
  {
    height: 438px;
    
  }
  .parnt-login-h-438 
  {
    border-radius: 10px; 
    height: 438px;
  }
  .child-login-h-438 
  {
    border-radius: 10px 0px 0px 10px;
  }
  canvas#canv {
    margin-bottom: 5px;
}
  #canv{
    border-radius: 3px;
    margin: 6px 0px 0px 0px;
    padding: 8px 6px 0px 0px;
    height: 35px !important;
    border: 1px solid #d7d7d7;
  }
  /* .signin-text
  {
    color: #113689;
    background: #0000ff26;
    border-radius: 3px;
    padding: 5px 8px;
    display: inline-block;
    font-size: 18px;
  } */
   .login-style
   {
    padding: 10px;
    background: #ffffff1c;
    border-radius: 12px;
    margin-top: 24px;
   }

  a#reload_href
  {
    cursor: pointer;
    color: #113689 !important;
    font-size: 14px;
    font-weight: 600;
  }

  .mc-login label
  {
    margin-bottom: 8px;
    margin-top: 4px;
  }
  .mc .refresh-custtom-design 
  {
    /* padding: 0px 8px 0px 8px; */
    margin: 0px 4px;
  }
 

  