.mlc-right
{

    background: #174e94;
}
.mlc-left
{

    background: #f8f6f0 !important;
}
.absolute-red-dot
{
    position: absolute;
    right: 45%;
    bottom: 9%;
}
.drawer-btn
{
    position: absolute;
    right: -12px;
    top: 0px;
    z-index: 12;
    background-color: #174e94;
    color: #fff !important;
}


.bg-login-img {
  
    background-size: cover;
    background-position: center; 
    background-image: url('https://cdn.dribbble.com/users/48830/screenshots/1216892/media/21e8f2d2af06c996e9bb547d78b0f3be.gif');

}

.absolute-eye-pwd {
    position: absolute;
    right: 3%;
    color: grey;
    bottom: 58%;
    z-index: 99;
}


.mc {
    position: relative;
    min-height: 100vh;
  }
  
  .mc-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .cstm-btn-pos
  {
    margin-right: -10px;
    position: absolute;
  }
  .login-btn
  {
    text-align: center;
    padding: 10px 25px;
    background-color: #174e94;
    color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .login-btn:hover
  {
    background-color: #2562b0; 
  }
  