.td-select select, .td-select2 select {
    font-size: 14px;
    padding: 2px 40px 2px 12px;
  }
  /* .td-select2{
    display: flex;
    align-items: center;
    justify-content: space-around;
  } */