.td-select select, .td-select2 select {
    font-size: 14px;
    padding: 2px 40px 2px 12px !important;
  }
  /* .td-select2{
    display: flex;
    align-items: center;
    justify-content: space-around;
  } */

  .manage-salary-btn{
    width: 90%;
    justify-content: flex-start;

  }
  .td-select2 {
    position: relative;
  }
  .td-select2 input {
    position: absolute;
    left: 30px;
    bottom: 15px;
  }
  .td-select2 select {
    position: absolute;
    right: 30px;
    bottom: 8px;
  }