.md\:w-1\/4 {
    width: 20% !important;
  }


.template-sec label {
    color: #333;
  }
  .add-btn{
    padding: 8px 10px;
  }
  .add-btn svg{
    margin-right: 5px;
  }
  .template-section .p-4 {
    padding: 5px 20px;
    color: var(--primary-color-echttech);
    background-color: var(--fade-lighter-primary-color-echttech);
    border-radius: unset;
}