.below-content {
    height: 73vh;
    overflow: auto;
  }
  .ul-list .ul-parent {
    padding: 0 5px 0 0;
  }
  .ul-list .ul-parent .MuiAccordionSummary-content{
    margin: 0px 5px !important;
    display: flex;
    align-items: center;
  }
  .MuiAccordionSummary-content .side-bar-content-arrow svg {
    width: 16px;
    height: 16px;
  }
  .ul-list .ul-parent a {
    font-size: 15px !important;
  }
.ul-list{
    background-color: unset !important;
    color: #fff !important;
    border: none !important;
  }
  .all-ul{
    margin-left: 20px;
  }
  .all-ul li {
      margin: 15px 0;
    }
    .all-ul li:first-child{
        margin-top: 0;
    }
    .all-ul li:last-child{
        margin-bottom: 0;
    }
  
  .all-ul li a {
      color: #fff !important;
      display: flex;
    }
  .all-ul li a:hover {
      text-decoration: none;
    }
   
    .ul-parent {
        display: flex !important;
        flex-direction: revert !important;
      }

      .layout.hide .below-content h1, .layout.hide .below-content p, .layout.hide .parent-all-ul, .layout.hide .below-content .side-bar-content-arrow {
        display: none;
      }
      .layout.hide .below-content .dash-icon{
        margin-left: 11px !important;
        margin-bottom: 10px;
      }
      .layout.hide .below-content {
        display: flex;
        flex-direction: column;
        justify-items: center;
      }
  .ul-parent .MuiAccordionSummary-expandIconWrapper {
    display: none;
    }

    .ul-parent > .MuiAccordionSummary-content {
      position: relative;
    }
    .ul-parent .side-bar-content-arrow {
      position: absolute;
      right: 0;
    }

    .ul-parent a{
      color: #fff;
    }
    .ul-parent a:hover{
      text-decoration: none !important;
    }
    .layout.hide .sidebar .ul-list .ul-parent {
      padding: 0;
    }
    .layout.hide .ul-parent svg {
      font-size: 24px;
    }
    .layout.hide .ul-parent span {
      margin-right: 0px;
      margin-left: 5px;
    }
    .below-content
    {
      overflow: auto; 
      transition: scrollbar-color 0.3s ease, scrollbar-width 0.3s ease; /* For Firefox */

     
    }
    .below-content::-webkit-scrollbar {
      width: 4px; 
      transition: width 0.3s ease;
    }
    
    .below-content::-webkit-scrollbar-track {
      background: #113689; 
      transition: background-color 0.3s ease;
    }
    
    .below-content::-webkit-scrollbar-thumb {
      background-color: #c0c0c0; 
      border-radius: 10px; 
      transition: background-color 0.3s ease; 
    }