.below-content {
    height: 90vh;
    overflow: auto;
  }
  .ul-list .ul-parent {
    padding: 0 5px 0 0;
  }
  .ul-list .ul-parent .MuiAccordionSummary-content{
    margin: 0px 5px !important;
    display: flex;
    align-items: center;
  }
  .MuiAccordionSummary-content .side-bar-content-arrow svg {
    width: 16px;
    height: 16px;
  }
  .ul-list .ul-parent a {
    font-size: 15px !important;
  }
.ul-list{
    background-color: unset !important;
    color: #fff !important;
    border: none !important;
    margin: 3px 0;
  }
  .all-ul{
    margin-left: 20px;
    border-left: 3px solid #3959a3;
    padding-left: 13px;
    list-style-type: disc;
     
  }
  .all-ul li {
    margin: 3px 0;
      margin-top: 3px;
    transition: 0.3s;
    padding: 10px;
  }
  
  .all-ul li:hover, .all-ul li.active {
    background: rgb(28, 74, 178);
    padding: 10px;
    border-radius: 0 30px 30px 0;
  }
    .all-ul li:first-child{
        margin-top: 0;
    }
    .all-ul li:last-child{
        margin-bottom: 0;
    }
  
  .all-ul li a {
      color: #fff !important;
      display: flex;
      font-size: 14px;
    }
  .all-ul li a:hover {
      text-decoration: none;
    }
   
    .ul-parent {
        display: flex !important;
        flex-direction: revert !important;
      }

      .layout.hide .below-content h1, .layout.hide .below-content p, .layout.hide .parent-all-ul, .layout.hide .below-content .side-bar-content-arrow {
        display: none;
      }
      .layout.hide .below-content .dash-icon{
        margin-left: 11px !important;
        margin-bottom: 10px;
      }
      .layout.hide .below-content {
        display: flex;
        flex-direction: column;
        justify-items: center;
        overflow-x: hidden;
      }
  .ul-parent .MuiAccordionSummary-expandIconWrapper {
    display: none;
    }

    .ul-parent > .MuiAccordionSummary-content {
      position: relative;
    }
    .ul-parent .side-bar-content-arrow {
      position: absolute;
      right: 0;
    }

    .ul-parent a{
      color: #fff;
    }
    .ul-parent a:hover{
      text-decoration: none !important;
    }
    .layout.hide .sidebar .ul-list .ul-parent {
      padding: 12px 25px;
      cursor: pointer;
    }
    .layout.hide .ul-parent svg {
      font-size: 24px;
    }
    .layout.hide .ul-parent span {
      margin-right: 0px;
   
    }
    .below-content
    {
      overflow: auto; 
      transition: scrollbar-color 0.3s ease-in-out, scrollbar-width 0.3s ease-in-out; /* For Firefox */
      transition: opacity 0.5s ease-in-out;

     
    }
    .below-content::-webkit-scrollbar {
      width: 4px; 
      transition: width 0.3s ease-in-out;
      opacity: 0; 
      transition: opacity 0.5s ease-in-out;
    }
    
    .below-content::-webkit-scrollbar-track {
      background: #113689; 
      transition: background-color 0.3s ease-in-out;
      transition: opacity 0.5s ease-in-out;
    }
    
    .below-content::-webkit-scrollbar-thumb {
      background-color: #c0c0c0; 
      border-radius: 10px; 
      transition: background-color 0.3s ease; 
    }

    .css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root 
    {
      background-color: #113689 !important;
    }


    /* styling for second-sidebar/constant sidebar */

  .layout.constshow .constant-sidebar {
      display: none;
  }
  .layout.consthide .constant-sidebar {
    display: block;
    height: 478px;
    overflow-x: hidden;
    position: absolute;
    left: 4.1%;
    padding: 10px 10px 10px 10px;
    top: 8%;
    border-radius: 0px 10px 10px 0px;
  }
  .layout.consthide .constant-sidebar li {
    border: none;
    margin: 3px 0;
    padding: 10px 10px 10px 15px;
  }
  .layout.consthide .constant-sidebar li:hover {
    background-color: rgb(28, 74, 178);
    border-radius: 0 30px 30px 0;
  }


.layout.consthide .left-sidebar{
  width: 4%;
  h1 , p , .side-bar-content-arrow {
    display: none;
  }
}
.layout.consthide
{
  background-color: #EFF3F7;
}
.layout.consthide .right-dashboard
{
 width: 96%;
}

.ul-list .ul-parent {
  padding: 12px;
}
.ul-list .ul-parent {
  border-radius: 0px 30px 30px 0px;
}
.layout.show .ul-list:hover .ul-parent, .layout.show .ul-list.active .ul-parent {
  background-color: #fff !important;
  color: #000;
  border-radius: 0px 30px 30px 0px;
  /* border-left: 2px solid #fff; */
}
.layout.hide .ul-list:hover .ul-parent {
  pointer-events: none;
  background-color: transparent !important;
  border-radius: 0px 30px 30px 0px;
}
.layout.hide .ul-list:hover, .layout.hide .ul-list.active {
  background-color: #fff !important;
  color: #000;
  border-radius: 0px 30px 30px 0px;
  /* border-left: 2px solid #fff; */
}
.ul-list:hover .ul-parent p a, .ul-list:hover .ul-parent span, .ul-list.active .ul-parent p a, .ul-list.active .ul-parent span{
  color: #000;
}
/* .layout.hide .below-content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.layout.hide .ul-list {
  width: 100%;
  display: flex;
  justify-content: center;
}