    /* Sidebar CSS */
.dashboard-text{
    display: flex;
    align-items: center;
}
    .left-sidebar
    {
        width: 18%;
        background-color: #174E94;
        height: 100vh;
        transition: width 0.3s;
        
      
    }
    .layout.hide .left-sidebar{
      width: 5%;
    }
    .sidebar-top-logo-con {
      background-color: #fff;
      width: 85% !important;
      margin: 25px auto;
    }
    .layout.hide .sidebar-top-logo-con {
      padding: 15px 2px;
    }
 