.top-header
{
    width: 100%;
    border-bottom: 1px solid rgba(182, 181, 181, 0.904);
    padding: 8px 2px;
}
.header {
    position: relative;
  }
  
  .top-header:before:hover{
    box-shadow: 1px 3px 2px gray !important;
  }
  
  .top-header .top-bar-left .sidebar-top-logo-con {
    background-color: #fff;
    width: 200px !important;
    height: auto !important;
    padding: 0 !important;
  }
  .top-header .top-bar-left .sidebar-top-logo-con img{
    width: 100%;
    height: auto;
  }
  .header-container {
    width: 100%;
  }

  /* styles.css */

@keyframes tada {
  0% {
    transform: scaleZ(1);
  }
  10%, 20% {
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
  }
  30% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 10deg);
  }
  40%, 60%, 80% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  100% {
    transform: scaleZ(1);
  }
}

.tada {
  animation: tada 1s ease infinite;
}
