.top-header
{
    width: 100%;
    border-bottom: 1px solid rgba(182, 181, 181, 0.904);
    padding: 8px 2px;
}
.header {
    position: relative;
  }
  
  .top-header:before:hover{
    box-shadow: 1px 3px 2px gray !important;
  }
  
  .top-header .top-bar-left .sidebar-top-logo-con {
    background-color: #fff;
    width: 200px !important;
    height: auto !important;
    padding: 0 !important;
  }
  .top-header .top-bar-left .sidebar-top-logo-con img{
    width: 100%;
    height: auto;
  }